<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width"/>
  </head>
  <body>
    <p>Hey,</p>
    <br>
    <p>There is a new {{daemon.currency}} daemon release available, please upgrade.</p>
    <p>
      Version: {{daemon.version}}
      <br>
      View: <a href="https://github.com/{{daemon.user}}/{{daemon.repo}}/releases">https://github.com/{{daemon.user}}/{{daemon.repo}}/releases</a>
      <br>
      Download: <a href="{{daemon.download_url}}">{{daemon.download_url}}</a>
    </p>
    <br>
    <p>Have a nice day!</p>
  </body>
</html>